
@import url('/style.css');
/* ============ large screen ============ */
@media only screen and (min-width: 760px) and (max-width: 1270px){
    nav .container{
        align-items: center;
        position: relative;
        justify-content: space-between;
    }
    .nav-wrapper{
        flex: none;
    }
    nav .searchSub{
        width: fit-content;
        height: fit-content;
        position: absolute;
        right: -430px;
        top: 45px;
        border-radius: 8px;
        background: var(--color-bg);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 20px;
        transition: all .3s ease;
        z-index: 10;
    }
    nav .searchSub.active{
        right: 0;
        display: block
    }
    nav .searchSub form{
        margin: 20px 0;
    }
    #menuLargeScreen{
        display: block;
    }

    .filter-container {
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;
    }
    footer form {
        width: 70%;
    }
}   


/* phone view  */
@media only screen and (max-width: 759px){
    #menuSmallScreen{
        display: block;
    }
    nav .container{
        justify-content: space-between;
    }
    .nav-wrapper{
        width: 100%;
        position: absolute;
        top: 50px;
        right: -700px;
        background: var(--color-bg);
        padding: 20px;
        border-radius: 10px;
        z-index: 10;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: all .3s ease;
    }
    .nav-wrapper.active{
        right: 0;
    }
    .nav-wrapper .nav-links{
        display: flex;
        flex-direction: column ;
        margin-bottom: 20px;
        align-items: flex-end;
    }
    .nav-wrapper .searchSub{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .nav-wrapper .searchSub form{
        width: fit-content;
    }
    header {
        border-radius: 20px 20px 0 0;
        height: auto;
    }
    header .container {
        gap: 20px;
        padding: 40px 0;
        flex-direction: column-reverse;
    }
    header .hero-text, header .hero-video {
        width: 100%;
    }
    .section-large-m .container{
        position: relative;
        align-items: end;
        padding-top: 60px;
    }
    .filter-container {
        position: absolute;
        right: -600px;
        top: 20px;
        flex-direction: column;
        background: var(--color-section);
        padding: 20px;
        width: fit-content;
        align-items: flex-end;
        border-radius: 10px;
        box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
        transition: all .3s ease;
    }
    .filter-container li {
        padding: 8px 20px;
        margin-bottom: 10px;
    }
    .filter-container li p {
        font-size: 18px;
    }
    .filter-container.active{
        right: 0;
    }
    .filter-menu{
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
    }

    .movie-cards {
        width: 100%;
        display:  grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0;
    }
    .movie-card {
        width: auto;
        height: 100%;
    }
    .movie-card div:first-child {
        height: 200px;
        width: auto;
    }
    .movie-card .card-details p,
    .movie-card .card-details span {
        display: none;
    }
    button.watch-now {
        padding: 5px 10px;
        font-size: 16px;
        font-weight: var(--font-weight-regular);
        margin-top: 10px;
    }
    .np-btn {
        margin: 20px 0;
    }
    footer h2 {
        font-size: var(--font-size-subHeader);
    }
    footer a {
        font-size: var(--font-size-body);
    }
    footer form {
        width: 100%;
        height: 40px;
    }
    footer form input {
        padding-left: 15px;
        font-size: var(--font-size-body);
    }
    footer form button {
        padding: 0 20px !important;
        border-radius: 0 10px 10px 0 !important;
        height: 40px;
        right: 0;
    }
}