
@import url('/style.css');
/* ============ large screen ============ */
@media only screen and (min-width: 710px) and (max-width: 1200px){
    nav .searchSub{
        width: fit-content;
        height: fit-content;
        position: absolute;
        right: -380px;
        top: 45px;
        border-radius: 8px;
        background: var(--color-bg);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 20px;
        transition: all .5s ease;
        z-index: 10;
    }
    nav .searchSub.active{
        right: 5%;
        display: block
    }
    nav .searchSub form{
        margin: 20px 0;
    }
    #menuLargeScreen{
        display: block;
    }

    .filter-container {
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;
    }
    footer form {
        width: 70%;
    }
}   


/* phone view  */
@media only screen and (max-width: 709px){
    #menuSmallScreen{
        display: block;
    }
    .nav-wrapper{
        width: 100%;
        position: absolute;
        top: 50px;
        right: -700px;
        background: var(--color-bg);
        padding: 20px;
        border-radius: 10px;
        z-index: 10;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: all .3s ease;
    }
    .nav-wrapper.active{
        right: 0;
    }
    .nav-wrapper .nav-links{
        display: flex;
        flex-direction: column ;
        margin-bottom: 20px;
        align-items: flex-end;
    }
    .nav-wrapper .searchSub{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .nav-wrapper .searchSub form{
        width: fit-content;
    }
    header {
        border-radius: 20px 20px 0 0;
        height: auto;
    }
    header .container {
        gap: 20px;
        padding: 40px 0;
        flex-direction: column-reverse;
    }
    header .hero-text, header .hero-video {
        width: 100%;
    }
}