
/*===================== google fonts =====================  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}
:root{
     --color-bg: #1C1C1C; /*Eerie Black */
     --color-card-bg: #121212; /*Night Black */
     --color-section: #2A2A2A; /*Jet Black */
     --color-btn-bg: #FB0066; /*Hollywood Cerise */
     --color-text1: #ffffff; /* White*/
     --color-text2: #FF5757; /* Sunset Orange */
     --color-text3: #E0E0E0; /*Platinum Gray */
     --linear-gradient: linear-gradient( to bottom right, #FB0066, #FF5757);
     

    --font-family-header: "Oswald", sans-serif;
    --font-family-section-header:  "Montserrat", sans-serif;
    --font-family-nav: "Lato", sans-serif;
    --font-family-body: "Poppins", sans-serif;
    --font-family-rating: "Inter", sans-serif;

    --font-size-header: 36px;       
    --font-size-subHeader: 24px;    
    --font-size-title: 20px;       
    --font-size-body: 16px;        
    --font-size-caption: 14px;     

    --font-weight-bold: 700;
    --font-weight-semiBold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400; 
}
html, body {
    width: 100%;
    overflow-x: hidden !important;
}
body{
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
    background: var(--color-bg);
    color: var(--color-text1);
}

/* this is for header  */
h1{
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header);
    line-height: 50px;
}
/* this is for section header  */
h2{
    font-family: var(--font-family-section-header);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
    line-height: 40px;
}
/* this is for card header  */
h3{
    font-family: var(--font-family-header);
    font-size: var(--font-size-subHeader);
    font-weight: var(--font-weight-bold);
    line-height: 35px;
}
img{
    width: 100%;
    height: 100%;
}
p{
    font-family: var(--font-family-body);
    line-height: 24px;
}
section{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    background: var(--color-section);
}

.section-sm-m{
    margin-top: 30px;
}
.section-large-m{
    margin-top: 70px;
}
.btn{
    padding: 4px 20px;
    font-size: var(--font-size-subHeader);
    font-family: var(--font-family-header);
    border-radius: 10px;
    background-color: var(--color-btn-bg);
    color: var(--color-text1);
    cursor: pointer;
    transition: 300ms ease;
}
.btn:hover{
    background-color: var(--color-text2);
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: auto 5%;
}


/* ===================== Navigation bar ===================== */
nav{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    position: relative;
    
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav .logo{
    width: 144px;
}
nav .nav-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav .nav-links a{
    font-family: var(--font-family-nav);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-semiBold);
}
nav .nav-links a * {
    background: var(--linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.searchSub{
    display: flex;
    gap: 10px;
    align-items: center;
}
nav .container .search{
    background: var(--color-section);
    border-radius: 8px;
    width: 329px;
    height: 36px;
    position: relative;
}
nav .container .search input{
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0 36px 0 16px;
    color: var(--color-text2);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
}
nav .container .search input::placeholder{
    color: var(--color-text2);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
}
nav .container .search i{
    color: var(--color-text2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    font-size: var(--font-size-subHeader);
    cursor: pointer;
}
#menuLargeScreen,
#menuSmallScreen{
    display: none;
    font-size: 40px;
    color: var(--color-btn-bg);
}

/* ===================== Hero Area ===================== */
header{
    width: 100%;
    height: 518px;
    margin:  auto;
    display: flex;
    justify-content: center;
    background: var(--color-section);
    border-radius: 30px 30px 0 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 70px 0;
}
header .hero-text,
header .hero-video{
    width: 50%;
}
header .container .review{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
header .container .review i{
    color: var(--color-btn-bg);
}
header .container .hero-movie{
    position: relative;
    text-align: right;
}
header .container .hero-movie :nth-of-type(2){
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
header img{
    border-radius: 30px;
}




/* ===================== Watching Continue ===================== */
.wc-section{
    margin-top: 100px;
}
section .container.wc-box{
    position: relative;
}
section .container.wc-box h2{
    position: absolute;
    left: 0;
    top: -70px;
}
.wc-wrapper{
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    position: relative;
    padding: 50px 0;
}
.wc-wrapper i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    transition: 300ms ease;
}
.wc-wrapper i:hover{
    background: var(--color-btn-bg);
}
.wc-wrapper :nth-child(2){
    left: 1px;
}
.wc-wrapper :last-child{
    right: 1px;
}
.wc-container{
    display: flex;
    align-items: center;
    gap: 25px;
}
.wc-container img{
    width: 410px;
    height: 250px;
}

/* ===================== Movie Display Container ===================== */

/* filter part  */
.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 50px 0;
}
.filter-container li{
    background: linear-gradient(to top, #2A2A2A, #404040);
    padding: 15px 20px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    cursor: pointer;
}
.filter-container li:hover{
    background: linear-gradient(to bottom, #2A2A2A, #404040);
}
.filter-container li p{
    font-family: var(--font-family-nav);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-semiBold);
}
.filter-container li i{
    font-size: 30px;
}

.filter-container li:first-child{
    background: var(--linear-gradient);
}
.filter-container li:first-child i{
    margin-right: 20px;
}
.filter-container li:last-child{
    background: var(--linear-gradient);
}
 /* filter part end  */

.movie-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.movie-card{
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: var(--color-card-bg);
    border-radius: 8px;
    transition: .5s ease;
}
.movie-card:hover{
    transform: scale(1.03);
}
.movie-card div:first-child {
    height: 380px;
}
.movie-card > div > img{
    border-radius: 8px 8px 0 0;
}
.movie-card .card-details{
    padding: 20px 17px 22px 17px;
    /* border: 1px solid red; */
}
.movie-card .card-details :nth-child(2){
    margin: 15px 0;
}
.movie-card .card-details span{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
}
.movie-card .card-details span i{
    margin-right: 4px;
}
p.details{
    background: var(--color-section);
    padding: 0 20px;
    width: fit-content;
    border-radius: 20px;
}
button.watch-now{
    width: 100%;
    background: var(--color-section);
    color: var(--color-btn-bg);
    border-radius: 30px;
    padding: 12px 65px;

    font-family: var(--font-family-nav);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-semiBold);
    cursor: pointer;
    margin-top: 30px;
    transition: 300ms ease;
}
button.watch-now:hover{
    background-color: var(--color-btn-bg);
    color: var(--color-text1);
}

/* button  */
.np-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}


/* ===================== Footer Section ===================== */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .container .upper-ftr{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
footer a{
    color: var(--color-text2);
    margin-bottom: 16px;
    display: inline-block;
    font-size: var(--font-size-title);
}
footer h2{
    margin-bottom: 20px;
    color: var(--color-btn-bg);
}
.upper-ftr .ftr-box{
    flex: 1;
    min-width: 230px;
}
.upper-ftr .ftr-box img{
    width: 170px;
    height: auto;
}
.upper-ftr .ftr-box p{
    margin: 20px 0;
    width: 80%;
}
.contact-ftr p{
    color: var(--color-text2);
}
footer .social-icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer .social-icons i{
    font-size: 30px;
    color: var(--color-text2);
    cursor: pointer;
    transition: .5s ease;
}
footer .social-icons i:hover{
    color: var(--color-btn-bg);
}
footer .form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    border-bottom: 1px solid var(--color-btn-bg);
}
footer form{
    width: 50%;
    height: 57px;
    border-radius: 15px;
    background-color: var(--color-section);
    position: relative;
    margin: 38px 0;
}
footer form input{
    width: 100%;
    height: 100%;
    background: transparent;
    padding-left: 30px;
    color: var(--color-text1);
    font-size: var(--font-size-title);
}
footer form input::placeholder{
    color: var(--color-text1);    
}
footer form button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
}
.lower-ftr{
    margin: 30px 0;
    text-align: center;
}